{% extends "layout.html" %}

{% block header%}
<link rel="stylesheet" href="../static/css/docExp.css">
{% endblock %}

{% block body %}

<header>
    <div class="headline">
        <img src="../static/img/logo.png" class="logo-img">
    </div>
    <h1>Document Explaination</h1>
</header>

<div class="container">
    <form action="#" method="post">
    <label for="article">Document Content :</label>
    <textarea id="article"  name="docText" placeholder="Start writing your document content here..."></textarea>

    <!-- <div id="image-upload">
        <label for="image">Document Image:</label>
        <input type="file" id="image" accept="image/*">
        <img id="image-preview" style="max-width: 100%; max-height: 200px; display: none;" alt="Uploaded Image">
    </div> -->

    <div id="submit-button">
        <button id="submit" type="submit">Submit</button>
    </div>
</form>
</div>

{% endblock %}

