    {% extends "layout.html" %}

    {% block header%}
    <link rel="stylesheet" href="../static/css/Home.css">
    {% endblock %}

    {% block body %}

    <div class="container">
        
        <div class="left-container">
            <div class="small">
                We're Legal Consultant
            </div>
            <div class="large">
                <p>Help You To Manage</p>
                <p>Your <span>Legal Matters</span></p>
            </div>
            <div class="small">
                Simplifying Legal Documentation for You.
            </div>

            <a type="button" href="/service"  class="button">Get Start</a>
        </div>

        <div class="right-container">
            <dir class="f-box">
                <img class="gif" src="https://www.shareprogress.org/media/scale.gif" alt="Description of the GIF" />
            </dir>
        </div>



    </div>

    {% endblock %}