{% extends "layout.html" %}

{% block header%}
<link rel="stylesheet" href="../static/css/Service.css">
{% endblock %}

{% block body %}
<div class="superContainer">

    <div class="headline">
        <img src="../static/img/logo.png" class="logo-img">
        <!-- <span>Legal Consultant</span> -->
    </div>
    <div class="container">
        <a class="chatbox" href="/chatbot">
            <h2>Chatbox Service</h2>
            <p>This is the chatbox content.</p>
        </a>
        <a class="documentation" href="/docexp">
            <h2>Documentation</h2>
            <p>This is the documentation content.</p>
        </a>
    </div>



</div>
{% endblock %}